*{
    padding: 0;
    margin: 0;
}

 *,h1,p{
    font-family: 'Montserrat', sans-serif;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    width: auto;
    background-color: #2C3E50;
    color: white;   
    padding-bottom: 10px;
    padding: 10px;

    
}


.menu-bar {
    display: none;
}


.nav-container{
    margin-top: 2%;
}

.logo{
   margin-left: 90px;
   font-size: 30px;
   font-family: 'Montserrat', sans-serif;
}

.navbar-item{
    margin-right: 80px;
}

.navbar ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 30px;
    font-size: 17px;
    
}

.navbar ul li:hover
{
    color: #1ABC9C;
    transition: 0.5s;
    cursor: pointer;
}



.hero{
    background-color: #1ABC9C   ;
    height: 90vh;
    overflow-x: hidden;

}

.hero img{
    width: 250px;
    height: 250px;
    margin-top: 100px;
}

.hero-svg
{
    width: 100%;
    color: white;
    display: flex; 
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.hero-container
{
  text-align: center;
  color: white;


}

.hero-content h1 
{
    font-size: 66px;
    margin-top: 10px;
    
}

.hero-content p {
    color: white;
}

.my-span
{
    background-color: white;
    height: 4px;
    width: 120px;
    border-radius: 70px;
    margin-top: 14px;


}

.hero-content p
{
    font-size: 22px;
}


.cards{
    background-color: white;
    height: auto;
    margin-bottom: 50px;
}

.cards h1,p{
    color: #2C3E50;
}

.line {
    background-color: #2C3E50;
    height: 4px;
    width: 120px;
    border-radius: 70px;
    margin-top: 14px;
}

.cards-content
{
    text-align: center;
   
}

.cards-svg{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2C3E50;
    margin-top: 20px;
}

.cards-content h1{
    font-size:45px;
    margin-top: 60px;
    
}

.card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "content1 content2 content3"
    "content4 content5 content6"
    ;
 
    margin-left: 140px;
    margin-top: 40px;
    margin-right: 100px;
    row-gap: 40px;
    column-gap: -20px;
    

}

.card img{
    width: 400px;
    height: auto;
    border-radius: 10px;
    cursor: pointer;

}

.card img:hover {
    transition: 0.5s;
    color: #1ABC9C;
}

.content-1
{

  grid-area: content1;
  
  
}


.content-2
{

  grid-area: content2;
}
.content-3
{

  grid-area: content3;
}

.content-4
{
    grid-area: content4;
}

.content-5{
    grid-area: content5;

}

.content-6{
    grid-area: content6;
}

.about {
    height: 70vh;
    background-color: #1ABC9C;
    margin-top: 40px;
    text-align: center;
}


.about-content h1 {
    font-size: 50px;
    padding-top: 30px;
    color: white;
}

.about-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.about-desc p {
    width: 450px;
    margin: 10px;
    text-align: left;
    color: white;
    font-size: 18px;
    line-height: 25px;
}



.about-btn button{

    background-color: #1ABC9C;
    border: 2px solid white;
    padding: 20px 35px;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 10px;
}

.about-btn button:hover{
    transition: 0.5s;
    background: white;
    color: black;
}

.about-btn svg {
    margin-right: 7px;
}

.about-btn p {
    font-size: 20px;
    
}

.contact-content
{
    margin-top: 50px;
    text-align: center;
}

.contact-content h1{
    color: #2C3E50;
    font-size: 52px;
}

.contact form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 400px;
    margin-right: 400px;
  }
  
  .contact-form input {
    margin-bottom: 30px;
    height: 40px;
    
    border: none;
    border-bottom: 1px grey solid;
    outline: none;

  }

  .contact-form input:focus {
    border-bottom: 1px #1ABC9C solid;
  }

  .contact-form input:focus + label {
   font-size: 13px;
   transition: 0.2s;
   color: grey;
  
   
  }


  .contact-form label {
    text-align: left;
    margin-bottom: 5px;
    font-size: 20px;
    color: #6C7592;
    position: relative;
    bottom: 70px;
    font-family: sans-serif;
  }

.contact-form button {
    float: left;
    padding: 20px 30px;
    font-size: 17px;
    background-color: #1ABC9C;
    color: white;
    border: none;
    border-radius: 5px;
    
}


.footer {
    background-color: #2C3E50;
    height: 40vh;
          
 
}

.footer-content {
display: flex;
justify-content: space-between;
margin: 0px 180px;

}

.footer-content h1 {
margin-top: 80px;
text-align: center;
color: white;
font-size: 27px;

}

.footer-mid {
margin-left: 100px;
}

.footer-content p {
color: white;
text-align: center;
margin-top: 20px;
}



.footer svg{
border:2px solid white;    
margin: 7px;
padding: 12px;
border-radius: 50%;
color: white;
margin-top: 25px;
cursor: pointer;
}


.footer svg:hover
{
transition: 0.5s;
background-color: white;
color: black;
}

.end {
background-color: #1A252F;
height: 7vh;
display: flex;
align-items: center;
justify-content: center;
}

.end p {
text-align: center;
color: white;
font-size: 12px;

}



@media (max-width: 768px) {


    .navbar-item{
        display: none;
        
    }

    .menu-bar {
        display: block;
        margin-right: 5px;   
    }

    .menu-bar button {
        background-color: #1ABC9C;
        padding: 17px 17px;
        border: none;
        color: white;
        border-radius: 5px;

    }




    .logo{
        margin: 0;
        font-size: 24px;
    }


    .navbar{
     
        justify-content: space-between;
    }

    

    .hero h1 {
        font-size: 16px;
        
       }
   
   
       .logo{
           margin: 0;
           font-size: 24px;
       }
   
   
       .navbar{
        
           justify-content: space-between;
       }
   
       
   
       .cards img {
           
          width: 300px;
          
       }
   
     
   
       .card{
   
           grid-template-areas:
           "content1"
           "content2"
           "content3"
           "content4"
           "content5"
           "content6"
           ;
           justify-content: center;
           align-items: center;
           
   
       }

       .about{
        margin-bottom: 50px;
       }

       .about-desc {
        display: flex;
        flex-direction: column;
        
       }

       .about-desc p {
        font-size: 15px;
        width: auto;
       }
    
       .about-content{
        background-color: #1ABC9C;
       }


       .contact-form label {
        font-size: 14px;
        
        
       }

       .contact form{
        width: auto;
        margin: 0;
        margin: 70px 30px;
        

       }

       .contact{
        width: auto;

       }


       .footer {
        width: auto;

       }

       .footer-content h1{
        font-size: 12px;
        width: auto;
       }

       .footer-content p {
        font-size: 8px;
        width: auto;
       }

       .footer-content{
        margin: 0 10px;
       }

       #footer-svg {
        width: 10%;
        
      }

       


       

      

  } 
  